@import url("https://fonts.googleapis.com/css2?family=Roboto");
/**
*
* Testing
*
**/
html {
  font-size: 16px;
}

@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 413px) {
  html {
    font-size: 9px;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #251F41;
  color: #fff;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/**
*
* Testing
*
**/
/*
@include media (">=LGdesktop") {
    
}

@include media (">=tablet", "<desktop") {
    
}

@include media (">=phone", "<tablet") {
    
}

@include media ("<phone") {
    
}
*/
/* LandingPage */
#LandingPage {
  overflow-x: hidden;
  /* Header */
  /* Intro */
  /* Advantages */
  /* Categories */
}

#LandingPage .container {
  width: 85%;
}

@media (min-width: 1920px) {
  #LandingPage .container {
    width: 1700px;
  }
}

#LandingPage header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
}

@media (min-width: 1920px) {
  #LandingPage header {
    width: 1850px;
  }
}

#LandingPage .header-brand img {
  width: 80px;
}

@media (min-width: 1920px) {
  #LandingPage .header-brand img {
    width: 120px;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  #LandingPage .header-brand img {
    width: 70px;
  }
}

@media (max-width: 413px) {
  #LandingPage .header-brand img {
    width: 60px;
  }
}

#LandingPage .header-login img {
  width: 60px;
}

@media (min-width: 1920px) {
  #LandingPage .header-login img {
    width: 80px;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  #LandingPage .header-login img {
    width: 50px;
  }
}

@media (max-width: 413px) {
  #LandingPage .header-login img {
    width: 40px;
  }
}

#LandingPage #intro {
  height: 85vh;
}

@media (min-width: 768px) and (max-width: 1365px) {
  #LandingPage #intro {
    height: 100%;
    margin-top: 10%;
  }
}

@media (max-width: 767px) {
  #LandingPage #intro {
    height: 100%;
  }
}

#LandingPage .intro-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media (max-width: 767px) {
  #LandingPage .intro-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#LandingPage .intro-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

@media (max-width: 767px) {
  #LandingPage .intro-left {
    width: 80%;
  }
}

#LandingPage .intro-text {
  font-size: 3.5rem;
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  #LandingPage .intro-text {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

#LandingPage .intro-btn {
  font-size: 3rem;
  background: #00CFFD;
  padding: 15px 40px;
  border-radius: 20px;
}

#LandingPage .intro-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
}

#LandingPage .intro-right img {
  width: 100%;
}

@media (max-width: 767px) {
  #LandingPage .intro-right {
    width: 100%;
  }
}

#LandingPage #advantages {
  margin-top: 20%;
}

@media (min-width: 1920px) {
  #LandingPage #advantages {
    margin-top: 400px;
  }
}

@media (max-width: 767px) {
  #LandingPage #advantages {
    margin-top: 30%;
  }
}

#LandingPage #advantages .svg1 {
  position: absolute;
  width: 900px;
  height: 900px;
  -webkit-transform: translate3d(-50%, -70%, 0);
          transform: translate3d(-50%, -70%, 0);
}

@media (max-width: 1365px) {
  #LandingPage #advantages .svg1 {
    display: none;
  }
}

#LandingPage #advantages .svg2 {
  display: none;
  position: absolute;
  width: 800px;
  height: 800px;
  -webkit-transform: translate3d(120%, -50%, 0);
          transform: translate3d(120%, -50%, 0);
}

#LandingPage .advantages-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  #LandingPage .advantages-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#LandingPage .card {
  width: 30%;
  color: #251F41;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 5;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

@media (max-width: 767px) {
  #LandingPage .card {
    width: 100%;
    margin-bottom: 20%;
  }
}

#LandingPage .card-title {
  padding: 30px 0;
  text-align: center;
  font-size: 2.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

#LandingPage .card-content {
  padding: 30px;
  font-size: 1.5rem;
  text-align: center;
}

#LandingPage #categories {
  margin-top: 20%;
  margin-bottom: 20%;
}

#LandingPage .cat-inner {
  text-align: center;
}

#LandingPage .cat-title::after {
  content: " ";
  display: block;
  background: #00CFFD;
  margin: 0 auto;
  margin-top: 10px;
  height: 3px;
  width: 300px;
}

@media (min-width: 1920px) {
  #LandingPage .cat-title::after {
    width: 420px;
    height: 5px;
    margin-top: 15px;
  }
}

@media (min-width: 414px) and (max-width: 768px) {
  #LandingPage .cat-title::after {
    width: 200px;
  }
}

@media (max-width: 413px) {
  #LandingPage .cat-title::after {
    width: 150px;
  }
}

#LandingPage .cat-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% 0;
}

@media (min-width: 414px) and (max-width: 767px) {
  #LandingPage .cat-row {
    margin: 20% 0;
  }
}

@media (max-width: 413px) {
  #LandingPage .cat-row {
    margin: 15% 0;
  }
}

#LandingPage .cat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#LandingPage .cat-item img {
  width: 20%;
  margin-right: 5%;
}

#LandingPage .cat-item div {
  display: block;
  font-size: 1.3rem;
}

@media (min-width: 414px) and (max-width: 767px) {
  #LandingPage .cat-item:nth-child(4) {
    display: none;
  }
}

@media (max-width: 413px) {
  #LandingPage .cat-item:nth-child(3) {
    display: none;
  }
  #LandingPage .cat-item:nth-child(4) {
    display: none;
  }
}

#LandingPage .cat-last {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

footer {
  height: 250px;
  background: #252A57;
}

#RegisterStep1 .container, #Login .container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

@media (min-width: 414px) and (max-width: 768px) {
  #RegisterStep1 .container, #Login .container {
    min-height: 800px;
    height: 100vh;
  }
}

@media (max-width: 414px) {
  #RegisterStep1 .container, #Login .container {
    padding: 1.5rem;
  }
}

#RegisterStep1 .container::before, #Login .container::before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #8449FC;
  border-radius: 50%;
  z-index: 6;
}

@media (max-width: 768px) {
  #RegisterStep1 .container::before, #Login .container::before {
    width: 1500px;
    height: 1500px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
  }
}

@media (max-width: 414px) {
  #RegisterStep1 .container::before, #Login .container::before {
    bottom: 72%;
    left: 50%;
  }
}

/* Signin */
.signin {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 5;
}

@media (max-width: 768px) {
  .signin {
    width: 100%;
    top: 95%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    left: 50%;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 5rem;
  overflow: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 3;
}

@media (max-width: 414px) {
  form {
    padding: 0 1.5rem;
  }
}

form .title {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 30px;
}

form input {
  font-size: 2.5rem;
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  border: none;
  outline: none;
}

form .btn {
  background-color: #00CFFD;
  border-radius: 20px;
  color: #fff;
  margin-top: 10px;
  border: none;
  border: 3px solid #00CFFD;
  padding: 10px 35px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

form .btn:hover {
  background: #251F41;
  color: #00CFFD;
}

/* Blocks */
.blocks {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .blocks {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
  }
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  z-index: 6;
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.info-block h3 {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .info-block h3 {
    margin-bottom: 30px;
  }
}

.info-block p {
  font-size: 1.5rem;
  padding: 0.7rem 0;
}

@media (max-width: 768px) {
  .info-block p {
    display: none;
  }
}

@media (max-width: 768px) {
  .info-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 8%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .info-block .h3 {
    font-size: 1.2rem;
  }
  .info-block p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
}

#RegisterStep1 .info-block h3 {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .info-block-content {
    padding-right: 15%;
  }
}

@media (max-width: 414px) {
  .info-block-content {
    padding: 0.5rem 1rem;
  }
}

.info-block-content a {
  background: #8449FC;
  border: 3px solid #00CFFD;
  border-radius: 15px;
  color: #00CFFD;
  font-size: 2rem;
  padding: 10px 15px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.info-block-content a:hover {
  color: #fff;
  background: #00CFFD;
}

.info-block-image {
  width: 100%;
}

@media (max-width: 768px) {
  .info-block-image {
    width: 200px;
  }
}

@media (max-width: 414px) {
  .info-block-image {
    display: none;
  }
}

#RegisterStep2 .container {
  width: 85%;
  margin: 0 auto;
}

#RegisterStep2 .btn {
  font-size: 3rem;
  background: #00CFFD;
  color: #fff;
  border: none;
  padding: 15px 50px;
  border-radius: 15px;
  border: 3px solid #00CFFD;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

#RegisterStep2 .btn:hover {
  background: #252A57;
  color: #00CFFD;
}

#RegisterStep2 .top {
  text-align: center;
  margin: 100px 0;
}

@media (max-width: 413px) {
  #RegisterStep2 .top {
    margin: 60px 0;
  }
}

#RegisterStep2 .box {
  width: 90%;
  margin: 0 auto;
  background: #252A57;
  border-radius: 30px;
  margin-bottom: 150px;
}

#RegisterStep2 .step {
  padding: 60px 0;
}

@media (min-width: 1920px) {
  #RegisterStep2 .step {
    padding: 110px 0;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  #RegisterStep2 .step {
    padding: 30px 0;
  }
}

@media (max-width: 413px) {
  #RegisterStep2 .step {
    padding: 25px 0;
  }
}

#RegisterStep2 .step:last-child {
  margin-top: 30px;
}

#RegisterStep2 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
}

#RegisterStep2 .item h3 {
  margin-bottom: 10px;
}

@media (min-width: 1920px) {
  #RegisterStep2 .item h3 {
    margin-bottom: 20px;
  }
}

#RegisterStep2 .item input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 2rem;
  padding: 15px;
  border-radius: 15px;
}

@media (min-width: 1920px) {
  #RegisterStep2 .item {
    margin: 80px 0;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  #RegisterStep2 .item {
    margin: 30px 0;
  }
}

@media (max-width: 413px) {
  #RegisterStep2 .item {
    margin: 25px 0;
  }
}

#RegisterStep2 .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

#RegisterStep2 .item2 h3 {
  margin-bottom: 50px;
}

@media (min-width: 414px) and (max-width: 767px) {
  #RegisterStep2 .item2 h3 {
    margin-bottom: 20px;
  }
}

#RegisterStep2 .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  #RegisterStep2 .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#RegisterStep2 .btns input {
  padding: 20px 0;
  width: 30%;
  margin: 10px 0;
}

@media (max-width: 767px) {
  #RegisterStep2 .btns input {
    width: 120%;
  }
}

#RegisterStep2 .next-step {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

@media (min-width: 768px) and (max-width: 1365px) {
  #RegisterStep2 .next-step {
    margin-top: 60px;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  #RegisterStep2 .next-step {
    margin-top: 30px;
  }
}

@media (max-width: 413px) {
  #RegisterStep2 .next-step {
    margin-top: 30px;
  }
}

/**
*
* Testing
*
**/
header {
  /* Navigation */
}

header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container {
  width: 95%;
}

@media (min-width: 1920px) {
  header .container {
    width: 1700px;
  }
}

header button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

header .logo {
  width: 80px;
}

@media (min-width: 1920px) {
  header .logo {
    width: 120px;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  header .logo {
    width: 70px;
  }
}

@media (max-width: 413px) {
  header .logo {
    width: 60px;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-elem {
  margin-left: 50px;
}

header .nav-elem:first-child {
  margin: 0;
}

header .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
}

header .nav-logo {
  border-right: 2px solid #fff;
  padding: 8px;
}

header .nav-logo img {
  width: 30px;
}

header .nav-title {
  font-size: 1.5rem;
  color: #fff;
  height: 100%;
  padding: 8px;
}

header .dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .dropdown-content {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  text-align: center;
  min-width: 135px;
  border-radius: 10px;
}

header .nav-link {
  padding: 15px 0;
  color: #000;
  font-size: 1rem;
  border-radius: 10px;
}

header .nav-link:hover {
  background: #eee;
}

#Main_freelancer header {
  margin-top: 20px;
}
/*# sourceMappingURL=index.css.map */