@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import "./scss/_Variables";
@import "./scss/_BreakPoints";

html {
    font-size: 16px;
    @include media (">=LGdesktop") {
        font-size: 20px;
    }
    @include media (">=tablet", "<desktop") {
        font-size: 10px;
    }
    @include media (">=phone", "<tablet") {
        font-size: 10px;
    }
    @include media ("<phone") {
        font-size: 9px;
    }
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: $dark-back;
    color: $white;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

a {
    color: $white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: $white;
}

.container2{
    width: 100%;
    margin: 0 auto;
}

@import "scss/_LandingPage";
@import "scss/_Footer";
@import "scss/_LogReg";
@import "scss/_Register2";
@import "scss/_Main_freelancer";
@import "scss/_Main_hirer";
@import "scss/_Profile_freelancer";
@import "scss/_Portfolio_info";
@import "scss/_Profile_hirer";
@import "scss/_Profile_edit";
@import "scss/_Settings";
@import "scss/_Project_info";
@import "scss/_Header";