@import "../scss/_Variables";
@import "../scss/_BreakPoints";

#main-header {
    width: 95%;
    margin: 0 auto;

    li {
        list-style: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-logo img {
        width: 80px;
        @include media (">=LGdesktop") {
            width: 120px;
        }    
        @include media (">=phone", "<tablet") {
            width: 70px;
        }
        @include media ("<phone") {
            width: 60px;
        }
    }
    
    .bar {
        display: block;
        width: 40px;
        height: 4px;
        margin: 10px auto;
        transition: all 0.3s ease-in-out;
        background-color: $white;
    }
    
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        @include media ("<tablet") {
            position: fixed;
            left: -100%;
            top: 100px;
            flex-direction: column;
            width: 100%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            background: $dark-second-back;
        }
    }

    @include media ("<tablet") {
        .nav-menu.active {
            left: 0;
        } 
    }
    
    .nav-item {
        margin-left: 5rem;
        @include media ("<tablet") {
            margin: 2.5rem 0;
        }
    }
    
    .nav-link{
        font-size: 2rem;
        font-weight: 400;
        color: $white;
        transition: 0.2s linear;
    }
    
    .nav-link:hover{
        color: $dark-primary;
    }

    .hamburger {
        display: none;
        @include media ("<tablet") {
            display: block;
            cursor: pointer;
        }
    }

    @include media ("<tablet") {
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(14px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-14px) rotate(-45deg);
        }
    }
}