body {
    background: #251F41;
    color: #fff;
    font-size: 16px;
}

a {
    color: #fff;
}

/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.header-brand img {
    width: 80px;
}

.header-login img {
    width: 60px;
    height: 60px;
}

/* Intro */
#intro{
    height: 85vh;
}

.intro-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.intro-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.intro-text {
    font-size: 3.5rem;
    margin-bottom: 70px;
}

.intro-btn {
    font-size: 3.5rem;
    background: #00CFFD;
    padding: 15px 30px;
    border-radius: 20px;
}

.intro-right {
    height: 80vh;
    width: 50%;
    svg {
        height: 100%;
        margin: 0 auto;
    }
}

.intro-img {
    position: relative;
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    img { 
        position: absolute;
        width: 100%;
    }
}

/* Advantages */
#advantages {
    margin-top: 400px;
    
    .svg1 {
        position: absolute;
        width: 800px;
        transform: translate3d(-35%, -110%, 0);
    }

    .svg2 {
        position: absolute;
        width: 800px;
        transform: translate3d(135%, -65%, 0);
    }
}

.advantages-inner {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    color: #251F41;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 5;
    backdrop-filter: blur(20px);
}

.card-title {
    padding: 30px 0;
    text-align: center;
    font-size: 2.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.card-content{
    padding: 30px;
    font-size: 1.5rem;
    text-align: center;
}

/* Categories */
#categories {
    margin-top: 400px;
    margin-bottom: 100px;
}

.cat-inner {
    text-align: center;
}

.cat-title::after {
    content: " ";
    display: block;
    height: 4px;
    background: #00CFFD;
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

.cat-row {
    display: flex;
    justify-content: space-between;

    margin: 60px 0;
}

.cat-item {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        margin-right: 10px;
    }
    span {
        font-size: 1.5rem;
    }
}

.cat-last {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}