@import "../scss/_Variables";
@import "../scss/_BreakPoints";

#Main_freelancer {
    header {
        margin-top: 20px;
    }

    .container2 {
        width: 85%;
        @include media (">=LGdesktop") {
            width: 1700px;
        }        
    }
    
    /* Switcher */
    .switcher {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }

    .switcher-box {
        display: flex;
        border: 3px solid $white;
        border-radius: 15px;
    }
    
    .switcher-item {
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        font-size: 1.5rem;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }

    #switcher-active{
        position: absolute;
        background: $dark-primary;
        width: 150px;
        height: 50px;
        transition: 0.5s;
        border-radius: 10px;
    }

    #nonactive:hover + #switcher-active{
        transform: translateX(100%);
        background: red;
    }

    .content-nav {
        display: flex;
        background: $dark-second-back;
        margin-top: 50px;
        padding: 20px;
        border-radius: 20px;
        .nav-link {
            margin: 0px 50px;
            font-size: 2rem;
        }

        .nav-link:after{
            display: block;
            content: "";
            background: #fff;
            margin: 0 auto;
            height: 0.1875rem;
            width: 0%;
            transition: width 0.2s ease-out;
        }
        
        .nav-link:hover{
            color: #fff;
            text-decoration: none;
        }
        
        .nav-link:hover:after,
        .nav-link:focus:after{
            width: 100%;
        }

        .nav-link.active:after {
            width: 100%;
        }
    }

    .content {
        background: $dark-second-back;
        margin-top: 20px;
        border-radius: 20px;
        padding: 20px;
    }

    /* Default */
    #main-default {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
        font-size: 1.5rem;
    }

    /* Jobs */
    .content-jobs {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

    .job-filter {
        display: flex;
        justify-content: flex-end;
        select {
            font-size: 1.25rem;
            padding: 5px 10px;
            border: none;
            outline: none;
            border-radius: 10px;
        }
    }

    .job-item {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        padding-top: 50px;
        border-bottom: 3px solid $white;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border: 0;
        }
    }

    .job-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .job-title {
        font-size: 2rem;
        transition: linear 0.1s;
    }

    .job-title:hover {
        color: $dark-primary
    }

    .job-status {
        border: 2px solid $white;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .job-description {
        margin-top: 10px;
        margin-left: 30px;
        font-size: 1.25rem;
    }

    /* Browse job */
    .browse-content {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

    /* Browse filter */
    .browse-filter {
        border-bottom: 3px $dark-primary solid;
        padding-bottom: 30px;
    }

    .browse-filter-title {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .browse-filter-item {
        display: flex;
        .title {
            font-size: 1.5rem;
            margin-right: 15px;
        }
        padding-left: 30px;
        margin-bottom: 20px;
    }

    .payment-content {
        display: flex;
        align-items: center;
        input {
            border: none;
            outline: none;
            border-radius: 5px;
            margin-right: 10px;
            padding: 2px 5px;
        }
    }

    .category-content {
        display: flex;
        align-items: center;
        select {
            border: none;
            outline: none;
            border-radius: 5px;
            margin-right: 10px;
            padding: 2px 5px;
        }
    }

    .skills-content {
        display: flex;
        align-items: center;
        .skills-item {
            display: flex;
            justify-content: space-between;
            background: $white;
            border-radius: 10px;
            .skill-item-name {
                padding: 5px 15px;
                padding-right: 5px;
                font-size: 1rem;
                color: $dark-back;
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                outline: none;
                background: none;
                padding: 0 10px;
                cursor: pointer;
                span {
                    transition: 0.1s linear;
                }
                &:hover {
                    span {
                        color: $dark-primary;
                    }
                }
            }
        }
        .modal-title {
            color: $black;
        }
        .add-btn {
            font-size: 1.25rem;
            background: $green;
            padding: 5px 15px;
            border-radius: 10px;
            margin-left: 20px;
            cursor: pointer;
        }
    }

    /* Browse item */
    .browse-item {
        padding: 50px 0;
        border-bottom: 3px solid $white;
        &:last-child {
            border: none;
        }
        margin: 0 auto;
    }

    .browse-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .browse-title {
        font-size: 2rem;
        transition: 0.2s linear;
        &:hover {
            color: $dark-primary;
        }
    }

    .browse-payment {
        font-size: 1.5rem;
    }

    .browse-desription {
        font-size: 1.25rem;
        margin-top: 10px;
        margin-left: 30px;
    }

    .browse-skills {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-left: 30px;
    }

    .browse-skill-item {
        color: $dark-back;
        background: $white;
        font-size: 1rem;
        padding: 5px 15px;
        border-radius: 10px;
        margin-right: 15px;
        &:last-child {
            margin: 0;
        }
    }

    /* requests */
    .content-requests {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

    .request-item {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        border-bottom: 3px solid $white;
        &:last-child {
            border: 0;
        }
        &:first-child {
            padding-top: 0;
        }
    }

    .request-left {
        
    }

    .request-title {
        font-size: 2rem;
    }

    .request-title:hover {
        color: $dark-primary;
    }
    
    .request-description {
        font-size: 1.25rem;
        margin-top: 10px;
        margin-left: 30px;
    }

    .request-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        button {
            border: none;
            outline: none;
            width: 100px;
            padding: 10px 0;
            margin: 5px;
            cursor: pointer;
            border-radius: 10px;
        }
    }

    .request-accept-btn {
        background: $green;
        color: $white;
    }

    .request-decline-btn {
        background: $red;
        color: $white;
    }
}