/* Main */
#Register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 60%;
        h1 {
        }
        input {
            font-size: 2rem;
            padding: 4%;
            border-radius: 20px;
        }
        button {
            font-size: 2.5rem;
            background: $dark-primary;
            color: $white;
            padding: 4% 7%;
            border-radius: 20px;
        }
    }
}